@{
    ViewBag.Title = "Min side";
    ViewBag.PageName = "Min side";
}
@model DateTime
<div class="p p--profile">
    <div class="l">
        <h1 class="heading-level-1 u-text-white">Min side</h1>
    </div>
    <div class="l u-text-white">Betting date now: @Model</div>
</div>