@{
    ViewBag.Lang = "nb-no";
    ViewBag.MetaDescription = "";
    ViewBag.DisableIndexing = true;
    ViewBag.Title = "Min konto";
    ViewBag.PageName = "Min konto";
}

<div class="p p--profile">
    <div class="l">
        <h1 class="heading-level-1 u-text-white">Min konto</h1>
    </div>
    <div>
    </div>
</div>