<div class="banner banner--third">
    <article class="c">
        <header class="c__header">
            <h2 class="heading-level-2"><a href="#">Outsider i ny regi</a></h2>
        </header>
        <div class="c__content">
            <p>V65 Jarlsberg: - Miljøskifte har hatt bra effekt på kaldblodshester tidligere, og 4 Våler Flaks må ses som outsider på direkten, sier trener Erik Killingmo om sin nyervervelse.</p>
        </div>
        <footer class="c__footer">
            <a href="#">Les mer</a>
        </footer>
    </article>
</div>