<nav class="main-menu">
    <div>
        <a href="/Spill/" class="main-menu--simple">Spill</a>
        <a class="main-menu--simple main-menu--simple-disabled">
            Resultater
        </a>
    </div>
    <!--<icon icon="search" icon-color="support" icon-size="medium"></icon>-->
</nav>