
<div class="p p--neutral-darker">
    <footer class="l main-footer">
        <div class="main-footer__lists">
            <div class="main-footer__list cf">
                <h3 class="main-footer__heading">Stiftelsen Norsk Rikstoto</h3>
                <ul class="main-footer__linklist">
                    <li><a target="_blank" href="https://www.rikstoto.no/Hjelp/Kontakt-oss">Kundestøtte</a></li>
                    <li class="tel-for-mobile"><a href="tel:+4781511222">tlf. 815 11 222</a></li>
                    <li class="tel-for-desktop">tlf. 815 11 222</li>
                    <li><a target="_blank" href="https://www.rikstoto.no/Hjem/OmRikstoto/AvtaleVilkar">Avtale om spill</a></li>
                    <li><a target="_blank" href="https://www.rikstoto.no/Hjem/OmRikstoto/Spillreglement">Spillreglement</a></li>
                    <li><a target="_blank" href="/Liga/Reglement">Ligareglement</a></li>
                    <li><a target="_blank" href="https://www.rikstoto.no/Hjem/OmRikstoto/Spillvett">Spillvett</a></li>
                    <li><a target="_blank" href="https://www.rikstoto.no/Globale-sider/Top-Menu/Vinnersannsynlighet/">Vinnersjanser</a></li>
                </ul>
            </div>
            <div class="main-footer__list cf">
                <h3 class="main-footer__heading">Åpningstider for nettspill:</h3>
                <ul class="main-footer__linklist">
                    <li>Mandag - lørdag 07:00 - 02:00</li>
                    <li>Søndag 07:00 - 22:00</li>
                    <li><a target="_blank" href="https://www.rikstoto.no">Rikstoto.no</a></li>
                </ul>
            </div>
            <div class="main-footer__list cf">
                <h3 class="main-footer__heading">Hjelpelinje:</h3>
                <ul class="main-footer__linklist">
                    <li><a target="_blank" href="http://www.hjelpelinjen.no">www.hjelpelinjen.no</a></li>
                    <li class="tel-for-mobile"><a href="tel:+4780080040">tlf. 800 800 40</a></li>
                    <li class="tel-for-desktop">tlf. 800 800 40</li>
                </ul>
            </div>
        </div>
        <ul class="social-media">
            <li class="social-media__item">
                <a href="https://twitter.com/#!/Norsk_Rikstoto" target="_blank" title="Besøk Norsk Rikstotos Twitter side" class="social-media__link">
                    <svg role="img" viewBox="0 0 32 32" class="icon icon--neutral" aria-hidden="true">
                        <use xlink:href="/UI/Icons/svg-defs.svg#twitter"></use>
                    </svg>
                    <span class="sr-only">Overskyet</span>
                </a>
            </li>
            <li class="social-media__item">
                <a href="http://www.facebook.com/norskrikstoto" target="_blank" title="Besøk Norsk Rikstotos Facebook side" class="social-media__link">
                    <svg role="img" viewBox="0 0 32 32" class="icon icon--neutral" aria-hidden="true">
                        <use xlink:href="/UI/Icons/svg-defs.svg#facebook2"></use>
                    </svg>
                    <span class="sr-only">Del på facebook</span>
                </a>
            </li>
        </ul>
    </footer>
</div>