<div class="p p--neutral-darkest">
    <header class="main-header">
        <div class="masthead masthead--beta">
            <a href="/" class="masthead__logo">
                <h1 class="sr-only">@ViewBag.PageName</h1>
                <img src="/UI/rikstoto-beta.svg" height="32px" width="32px" class="masthead__logo__img" aria-hidden="true" alt="Norsk Rikstoto"/>
            </a>
        </div>
        @Html.Partial("~/Features/Shared/PartialViews/_MenuMain.cshtml")
        @Html.Partial("~/Features/Shared/PartialViews/_MainHeaderUser.cshtml")
    </header>
</div>