

<div class="sg-color-chips">
    <div class="sg-color-chip">
        <div class="sg-color--profile">Color profile</div>
    </div>
    <div class="sg-color-chip">
        <div class="sg-color--support"></div>
        <div>
            <div class="sg-color--support-lightest">lightest</div>
            <div class="sg-color--support-lighter">lighter</div>
            <div class="sg-color--support-light">light</div>
            <div class="sg-color--support">Support</div>
            <div class="sg-color--support-dark">dark</div>
            <div class="sg-color--support-darker">darker</div>
            <div class="sg-color--support-darkest">darkest</div>
        </div>
    </div>
    <div class="sg-color-chip">
        <div class="sg-color--neutral"></div>
        <div>
            <div class="sg-color--neutral-lightest">lightest</div>
            <div class="sg-color--neutral-lighter">lighter</div>
            <div class="sg-color--neutral-light">light</div>
            <div class="sg-color--neutral">Neutral</div>
            <div class="sg-color--neutral-dark">dark</div>
            <div class="sg-color--neutral-darker">darker</div>
            <div class="sg-color--neutral-darkest">darkest</div>
        </div>
    </div>
    <div class="sg-color-chip">
        <div class="sg-color--highlight"></div>
        <div>
            <div class="sg-color--highlight-light">light</div>
            <div class="sg-color--highlight">Highlight</div>
            <div class="sg-color--highlight-dark">dark</div>
        </div>
    </div>
    <div class="sg-color-chip">
        <div>
            <div class="sg-color--yellow">Color yellow</div>
            <div class="sg-color--corn">Color corn</div>
            <div class="sg-color--error">Color Error</div>
            <div class="sg-color--error-light">Color Error light</div>
        </div>
    </div>
    <div class="sg-color-chip">
        <div>
            <div class="sg-color--v75">Color v75</div>
            <div class="sg-color--v76">Color v76</div>
            <div class="sg-color--v65">Color v65</div>
            <div class="sg-color--5pluss">Color 5pluss</div>
            <div class="sg-color--games">Color games</div>
        </div>
    </div>
</div>