
<nav class="main-menu">
    <div class="cd-dropdown-wrapper">
        <a class="cd-dropdown-trigger" href="#0">Meny</a>
        <nav class="cd-dropdown">
            <h2>Norsk Rikstoto</h2>
            <a href="#0" class="cd-close">Close</a>
            <ul class="cd-dropdown-content">

                <li class="has-children">
                    <a href="#">Spill</a>
                    <ul class="cd-dropdown-icons is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        
                        <li>
                            <a class="cd-dropdown-item item-1" href="#">
                                <h3>V75</h3>
                                <p>Klarer du 7 vinnere på rad er V75 hestespillet med de største premiene</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-2" href="#">
                                <h3>V65</h3>
                                <p>Klarer du 6 vinnere på rad er V65 hestespillet med de store premiene</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-3" href="#">
                                <h3>V64</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-4" href="#">
                                <h3>V5</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-5" href="#">
                                <h3>V4</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-6" href="#">
                                <h3>5+</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-7" href="#">
                                <h3>Dagens Double</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-8" href="#">
                                <h3>Trippel</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-9" href="#">
                                <h3>Super trippel</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-10" href="#">
                                <h3>Tvilling</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-11" href="#">
                                <h3>Duo</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item item-12" href="#">
                                <h3>Vinner</h3>
                                <p>This is the item description</p>
                            </a>
                        </li>
                    </ul> <!-- .cd-dropdown-icons -->

                </li> <!-- .has-children -->
                <li class="has-children">
                    <a href="#">Resultater</a>
                    <ul class="cd-dropdown-gallery is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        <li class="see-all"><a href="#">Se alle resultater</a></li>
                        <li>
                            <a class="cd-dropdown-item" href="#">
                                @*<img src="/UI/Images/Rikstoto_1.jpg" alt="Product Image">*@
                                <h3>Bjerke 7.sept</h3>
                                <p>Tekse</p>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item" href="#">
                                @*<img src="/UI/Images/Rikstoto_3.jpg" alt="Product Image">*@
                                <h3>Product #2</h3>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item" href="#">
                                @*<img src="/UI/Images/Rikstoto_1.jpg" alt="Product Image">*@
                                <h3>Product #3</h3>
                            </a>
                        </li>
                        <li>
                            <a class="cd-dropdown-item" href="#">
                                @*<img src="/UI/Images/Rikstoto_2.jpg" alt="Product Image">*@
                                <h3>Product #4</h3>
                            </a>
                        </li>
                    </ul> <!-- .cd-dropdown-gallery -->
                </li> <!-- .has-children -->
                <li class="has-children">
                    <a href="#">Hjelp</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        <li class="see-all sr-only"><a href="#">Alle hjelpesider</a></li>
                        <li class="has-children">
                            <a href="#">Hjelp</a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Lær å spille</a></li>
                                <li class="see-all"><a href="#">Se alle</a></li>
                                <li><a href="#">Lær å spille</a></li>
                                <li><a href="#">Om spillene</a></li>
                                <li><a href="#">Spillformer</a></li>
                                <li><a href="#">Mobilespill</a></li>
                                <li><a href="#">Teknisk info</a></li>
                                <li><a href="#">Spillvett</a></li>
                                <li><a href="#">Kontakt kundestøtte</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Vanlige spørsmål</a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Lær å spille</a></li>
                                <li class="see-all"><a href="#">Se alle</a></li>
                                <li class="has-children">
                                    <a href="#0">Hvordan spiller jeg</a>
                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Lær å spille</a></li>
                                        <li class="see-all"><a href="#">Alle spørsmål</a></li>
                                        <li><a href="#">Jeg er nybegynner. Hvordan kommer jeg i gang?</a></li>
                                        <li><a href="#">Hvordan blir jeg nettspiller?</a></li>
                                        <li><a href="#">Hvordan vet jeg om jeg har vunnet?</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#0">Om de ulike spillene</a>
                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Valige spørsmål</a></li>
                                        <li class="see-all"><a href="#">Alle spørsmål</a></li>
                                        <li><a href="#">Hvordan finner jeg spillet som passer for meg?</a></li>
                                        <li><a href="#">Hva er Lyntoto?</a></li>
                                        <li><a href="#">Kan jeg spille via mobilen?</a></li>
                                        <li><a href="#">Kan jeg spille via mobilen?</a></li>
                                        <li><a href="#">Kan jeg spille via mobilen?</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Min side</a></li>
                                <li><a href="#">Rikstoto direkte(RD)</a></li>
                            </ul>
                        </li>
                        
                    </ul> <!-- .cd-secondary-dropdown -->
                </li> <!-- .has-children -->
                <li class="cd-divider">Ola Petterson</li>
                <li class="has-children">
                    <a href="#">Min side</a>
                    <ul class="cd-dropdown-icons is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        <li class="see-all sr-only"><a href="#">Alle hjelpesider</a></li>
                        <li><a href="#">Mine spill</a></li>
                        <li><a href="#">Mine bestillinger</a></li>
                        <li><a href="#">Fleruker</a></li>
                        <li><a href="#">Spillkonto</a></li>
                        <li><a href="#">Mine favoritthester</a></li>
                        <li><a href="#">Risktoto direkte (RD)</a></li>
                        
                    </ul> <!-- .cd-secondary-dropdown -->
                </li>
                <li>
                    <form class="cd-search">
                        <input type="search" placeholder="Søk...">
                    </form>
                </li>
            </ul> <!-- .cd-dropdown-content -->
        </nav> <!-- .cd-dropdown -->
    </div> <!-- .cd-dropdown-wrapper -->
</nav>
