<div class="c">
    <div class="c__header c__header--flex u-trailer-border">
        <button href="#" class="btn btn--link btn--menu-toggler jsProductSelect">
            <svg role="img" viewBox="0 0 32 32" class="icon icon--small" aria-hidden="true">
                <use xlink:href="/UI/Icons/svg-defs.svg#circle-left"></use>
            </svg>
            <span class="sr-only">Menu</span>
        </button>
        <h2 class="heading-level-3">
            Solvalla
        </h2>
        <time>
            13:50
        </time>
        <div class="weather weather--small">
            <span class="weather__temp">18°</span>
            <svg role="img" viewBox="0 0 32 32" class="icon">
                <use xlink:href="/UI/Icons/svg-defs.svg#cloudy2"></use>
            </svg>
            <span class="sr-only">Overskyet</span>
        </div>
    </div>
    <div class="c__content">
        <select>
            <option>V75</option>
            <option>V76</option>
        </select>
        <div>
            <span>Løp</span>
            <strong>5-11</strong>
            <span>Start</span>
            <strong>14:25</strong>
            <span>Omsetning</span>
            <span class="u-no-wrap">182 122,-</span>
        </div>
        Egenutfylt
        <buttton>Endre spillform</buttton>
        Kupong
        1 2 3 4 5 6 7

    </div>
</div>
