
<div class="c c--support-lightest product-timeline">
    <header class="c__header product-timeline__header">
        
        <h2 class="h-level-1 h-level--thin">
            <button class="btn btn--transparent btn--small u-hide-for-large product-timeline__toggler" ng-click="toggleTracks = !toggleTracks" ng-class="{ 'u-flip': toggleTracks }"><icon icon="left" icon-color="support" icon-size="small"></icon></button>
            Kongsskogen
            <span class="u-text-medium">(L3 - trav)</span>
            <time class="product-timeline__header__time">
                13:40
            </time>
        </h2>
        <div class="product-timeline__header__condition">
            Lett bane
        </div>
        <div class="weather weather--large">
            <span class="weather__temp">22°</span>
            <img src="/UI/weather/07d.svg" class="weather__symbol" />
            <span class="sr-only">Overskyet</span>
        </div>
    </header>
    <div class="c__content">
        <!-- Desktop view -->
        <p class="u-text-right">
            <a href="#">Følg løpet live på Rikstoto Direkte</a>
        </p>
        <table class="product-timeline__table u-hide-for-small">
            <thead>
                <tr>
                    <th>15 løp</th>
                    <th class="is-past">
                        1
                    </th>
                    <th class="is-past">
                        2
                    </th>
                    <th class="is-past">
                        3
                    </th>
                    <th class="is-past">
                        4
                    </th>
                    <th class="is-past">
                        5
                    </th>
                    <th class="is-inprogress">
                        <div class="callout has-callout" title="Pågår">6</div>
                    </th>
                    <th>
                        <div class="callout" title="Start 15:50">7</div>
                    </th>
                    <th>
                        <div class="callout" title="Start 15:50">8</div>
                    </th>
                    <th>
                        <div class="callout" title="Start 15:50">9</div>
                    </th>
                    <th>
                        <div class="callout" title="Start 15:50">10</div>
                    </th>
                    <th>
                        <div class="callout" title="Start 15:50">11</div>
                    </th>
                    <th>
                        <div class="callout" title="Start 15:50">12</div>
                    </th>
                    <th>
                        <div class="callout" title="Start 15:50">13</div>
                    </th>
                    <th>
                        <div class="callout" title="Start 15:50">14</div>
                    </th>
                    <th>
                        <div class="callout" title="Start 15:50">15</div>
                    </th>
                    <th>Omsetning</th>
                    <th>Mine spill</th>
                </tr>
            </thead>
            <tbody>
                <tr class="product is-inprogress">
                    <th class="product__title"><button class="btn btn--transparent product__title__text u-hide-for-small">V75</button></th>
                    <td></td>
                    <td colspan="7" class="is-now"><button href="#" class="product__btn slice-4of7" disabled="disabled"><span class="product__btn__race-start">13:05</span></button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="product__revenues">2 673 293,-</td>
                    <td class="product__mybets"><span class="tag tag--mybets">2</span><a href="#" class="u-hide-for-small">Følg med</a></td>
                </tr>
                <tr class="product is-inprogress">
                    <th class="product__title"><span class="product__title__text u-hide-for-small">V65</span></th>
                    <td></td>
                    <td></td>
                    <td colspan="6" class="is-now"><button href="#" class="product__btn slice-3of6" disabled="disabled"><span class="product__btn__race-start">13:05</span><span class="product__btn__extra">Jackpot!</span></button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="product__revenues">873 293,-</td>
                    <td class="product__mybets"></td>
                </tr>
                <tr class="product">
                    <th class="product__title"><span class="product__title__text u-hide-for-small">DD</span></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="is-now"></td>
                    <td colspan="2"><button href="#" class="product__btn"><span class="product__btn__race-start">13:05</span></button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="product__revenues">1 373 293,-</td>
                    <td class="product__mybets"> </td>
                </tr>
                <tr class="product">
                    <th class="product__title"><span class="product__title__text u-hide-for-small">TRI</span></th>
                    <td><button href="#" class="product__btn product__btn--singlegame" disabled="disabled"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame" disabled="disabled"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame" disabled="disabled"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame" disabled="disabled"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame" disabled="disabled"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame is-now" disabled="disabled"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame"><span>6</span><span class="product__btn__extra">S</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame"><span>6</span></button></td>
                    <td><button href="#" class="product__btn product__btn--singlegame"><span>6</span></button></td>
                    <td class="product__revenues">2 673 293,-</td>
                    <td class="product__mybets"><span class="tag tag--mybets">3</span></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>