<div class="c c--support-light track-selector">
    <div class="c__content">
        <div class="track-selector__lists">
            <h3 class="track-selector__headings">Idag</h3>
            <ul class="track-selector__items" id="tracks">
                <li class="track-selector__item default jsV75"><a href="/track/" class="track-selector__link jsTrackSelect"><strong>12:45</strong> <span class="track-selector__link__name">Solvalla</span> <span class="tag tag--mybets">2</span><span class="tag">V75</span></a></li>
                <li class="track-selector__item default jsV65 jsV75"><a href="#" class="track-selector__link"><strong>13:45</strong> <span class="track-selector__link__name">Ålborg</span> <span class="tag">V75</span></a></li>
                <li class="track-selector__item default jsV65 "><a href="#" class="track-selector__link"><strong>15:45</strong> <span class="track-selector__link__name">Bjerke</span></a></li>
                <li class="track-selector__item default jsV65 jsV4"><a href="#" class="track-selector__link"><strong>17:45</strong> <span class="track-selector__link__name">Bjerke</span></a></li>
                <li class="track-selector__item default jsV65 "><a href="#" class="track-selector__link"><strong>18:45</strong> <span class="track-selector__link__name">Bjerke</span></a></li>
                <li class="track-selector__item default jsV65 jsV75"><a href="#" class="track-selector__link"><strong>15:45</strong> <span class="track-selector__link__name">Bjerke</span><span class="tag">V75</span></a></li>
                <li class="track-selector__item default jsV65 "><a href="#" class="track-selector__link"><strong>15:45</strong> <span class="track-selector__link__name">Bjerke</span></a></li>
            </ul>
            <h3 class="track-selector__headings">I morgen</h3>
            <ul class="track-selector__items jsTracks" id="tracks">
                <li class="track-selector__item default jsV75"><a href="#" class="track-selector__link trigger"><strong>12:45</strong> <span class="track-selector__link__name">Solvalla</span> <span class="tag">V75</span></a></li>
                <li class="track-selector__item default jsV65 jsV75"><a href="#" class="track-selector__link"><strong>13:45</strong> <span class="track-selector__link__name">Ålborg</span> <span class="tag">V75</span></a></li>
                <li class="track-selector__item default jsV65 "><a href="#" class="track-selector__link"><strong>15:45</strong> <span class="track-selector__link__name">Bjerke</span></a></li>
                <li class="track-selector__item default jsV65 jsV4"><a href="#" class="track-selector__link"><strong>17:45</strong> <span class="track-selector__link__name">Bjerke</span></a></li>
                <li class="track-selector__item default jsV65 "><a href="#" class="track-selector__link"><strong>18:45</strong> <span class="track-selector__link__name">Bjerke</span></a></li>
                <li class="track-selector__item default jsV65 jsV75"><a href="#" class="track-selector__link"><strong>15:45</strong> <span class="track-selector__link__name">Bjerke</span><span class="tag">V75</span></a></li>
                <li class="track-selector__item default jsV65 "><a href="#" class="track-selector__link"><strong>15:45</strong> <span class="track-selector__link__name">Bjerke</span></a></li>
            </ul>
        </div>

    </div>
</div>
